@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.navbar-yellow {
    background-color: #C49000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand-font {
    font-family: "Fredoka One";
    font-size: 30px;
}

.navbar-menu-font {
    font-family: "Open Sans";
    font-size: 18px;
    color: white;
}

.header-front-page {
    background-color: #FBC02D;
    background-image: url("../svg/header.svg");
    background-repeat: repeat;
    background-size: 75% 75%;
    height: 600px;
}

.header-caption-font {
    font-family: "Open Sans";
    color: white;
}

.header-button {
    background-color: #FB8E11;
    font-family: "Roboto Mono";
    color: white;
}
