@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.navbar-yellow {
    background-color: #C49000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand-font {
    font-family: "Fredoka One";
    font-size: 30px;
}

.navbar-menu-font {
    font-family: "Open Sans";
    font-size: 18px;
    color: white;
}

.header-front-page {
    background-color: #FBC02D;
    background-image: url("../svg/header.svg");
    background-repeat: repeat;
    background-size: 75% 75%;
    height: 600px;
}

.header-caption-font {
    font-family: "Open Sans";
    color: white;
}

.header-button {
    background-color: #FB8E11;
    font-family: "Roboto Mono";
    color: white;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}


.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
}
