@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.navbar-yellow {
    background-color: #C49000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand-font {
    font-family: "Fredoka One";
    font-size: 30px;
}

.navbar-menu-font {
    font-family: "Open Sans";
    font-size: 18px;
    color: white;
}

@media (min-width: 768px) {
    .header-front-page {
        background-color: #FBC02D;
        background-image: url("../svg/header.svg");
        background-repeat: repeat;
        background-size: 75% 75%;
        height: 600px;
    }
}

@media (min-width: 540px) and (max-width: 768px) {
    .header-front-page {
        background-color: #FBC02D;
        background-image: url("../svg/header.svg");
        background-repeat: repeat;
        background-size: 100% 50%;
        height: 600px;
    }
}

@media (max-width: 540px) {
    .header-front-page {
        background-color: #FBC02D;
        background-image: url("../svg/header.svg");
        background-repeat: repeat;
        background-size: 120% 40%;
        height: 600px;
    }
}

.header-caption-font {
    font-family: "Open Sans";
    color: white;
}

.header-button {
    background-color: #FB8E11;
    font-family: "Roboto Mono";
    color: #f7f7f7;
}

.header-button:hover {
    background-color: #fbac17;
    font-family: "Roboto Mono";
    color: #f7f7f7;
}

/* The container */
.container-radio {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #C49000;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #FBC02D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* Pagination */

.page-item.active .page-link {
    z-index: 1;
    color:
        #fff;
    background-color:
        #FB8E11;
    border-color:
        #FB8E11;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FB8E11;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-color: rgb(222, 226, 230);
    border-right-color: rgb(222, 226, 230);
    border-bottom-color: rgb(222, 226, 230);
    border-left-color: rgb(222, 226, 230);
}

.page-link:hover {
    z-index: 2;
    color:
        #FBC02D;
    text-decoration: none;
    background-color:
        #e9ecef;
    border-color:
        #dee2e6;
}

.dashboard-button {
    background-color: #fcfcfc;
    color: #FB8E11;
    font-family: "Roboto Mono";
}

.dashboard-button:hover {
    background-color: #fcfcfc;
    color: #fbac17;
    font-family: "Roboto Mono";
}

.btn-yellow {
    background-color: #FB8E11;
    color: #f7f7f7;
}

.btn-yellow:hover {
    background-color: #FB8E11;
    color: #f7f7f7;
}
